html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Give You Glory', cursive; */
  font-family: 'Walter Turncoat', cursive;

}

header {
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid black;
}

#header-title {
  font-size: larger;
}

#header-text {
  font-size: medium;
}

header div {
  animation: sliding-header 5s;
  /* animation: sliding-back-header 5s; */
  /* animation: sliding-header 25s infinite linear; */
}

@keyframes sliding-header {
  0% {
    margin-left: 100%;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

#choice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3em 300px 2em 300px;
  align-items: center;
}

select {
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: small;
  font-family: 'Walter Turncoat', cursive;
}

#submit-button {
  padding: 10px 9px;
  font-size: larger;
  width: 200px;
  height: 40px;
  font-family: 'Walter Turncoat', cursive;
}

#submit-button:hover {
  background-color: rgba(0, 0, 0, 0.883);
  color: beige;
}

#main-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 0%;
  justify-content: center;
  align-items: center;
  height: 33em;
}

#flag-container {
  width: 25%;
  margin: 10px 5em;
}

#flag img {
  border: rgba(0, 0, 0, 0.237) solid 1px;
}

#info-container {
  width: 20%;
  margin: 10px 5em;
}

#capital-title, #dialing-code-title, #population-title, #language-title, #currency-title, #region-title, #note-title {
  font-size: larger;
}

#note-container {
  width: 25%;
  margin: 10px 5em;
}

input {
  text-align: left;
  overflow: hidden;
  height: 200px;
  width: 100%;
  /* overflow-wrap: break-word !important; */
  /* word-break: normal; */
  /* outline:none; */
}


/* changes the table */
#storeList {
  background-color: rgba(241, 241, 241, 0.4) !important;
  width: 99%;
  border-radius: 10px 10px 0px 0px;
  /* border: 2px solid rgba(185, 120, 221, 0.504); */
  text-align: center;
  margin: 0.5%;
}

/* changes the table head */
#storeList th {
  text-align: center;
  background-color: rgb(215, 212, 212);
  border-radius: 10px 10px 0px 0px;
}

/* changes the cells in the table */
td {
  padding: 8px 15px 20px 8px;
  border: 1px solid black;
}

tbody img {
  height: 50px;
  width: 70px;
}
