html, body {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  /* background-color: rgb(233, 238, 235); */
}

header {
  text-align: center;
  padding: 5px;
  background-color: rgba(127, 255, 165, 0.573);
  font-size: large;
}

#storeList {
  background-color: rgba(241, 241, 241, 0.4) !important;
  background-image: none;
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;   /* OR -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.167); */
  width: 95%;
  margin: 10px;
  border-radius: 10px;
}

#storeList th {
  margin-left: 2px solid black;
  margin-right: 2px solid black;
  text-align: center;
}

td {
  padding: 8px 15px;
}

#main-container {
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 0%;
  justify-content: center;
  align-items: center;

}

#info-container {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-around; */
  width: 30%;
  margin: 10px;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

#choice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

#flag-container {
  width: 30%;
}

select {
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 5px;
  margin: 5% 40% 2% 40%;
}

#flag-size {
  width: 80px;
  height: 50px;
}

p {
  font-size: medium;
}

p span {
  font-size: small;
}

#submit-button {
  padding: 10px 9px;
  font-weight: 600;
  font-size: large;
  margin: 15px;
  /* border-radius: 20px; */
}
